
.service-section h2 {
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #fff;
  position: relative;
}

.service-section h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
}

.service-section p {
  margin-bottom: 1.5rem;
  color: #fff;
  line-height: 1.6;
}

.heading-title-2.grey-line h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 3px;
  background-color: #777;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
